<html>
<head>
  <title>View</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p>{{items}}</p>
  <ul>
  {{#items}}
  <li>{{this}}</li>
  {{/items}}
  </ul>
</body>
</html>
